<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>구매하기</title>
</head>
<style>
    table {
        width: 100%;
        border-collapse: collapse; /* Collapse borders for a cleaner look */
    }

    th, td {
        border: 1px solid #ccc; /* Add a border to table cells */
        padding: 8px; /* Add padding inside table cells */
        text-align: center;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function calculatePayout() {
        let bettingAmount = parseFloat(document.getElementById("bettingAmount").value);
        let odds = parseFloat(document.getElementById('odds').textContent); // jquery
        let payout = bettingAmount * odds;
        document.getElementById("payout").value = payout.toFixed(2);
        document.getElementById("visiblePayout").value = payout.toFixed(2); // need 2 as readonly values cannot be submitted
    }

    function enforceMultipleOf100(inputElement) {
        let value = inputElement.value;
        let newValue = Math.round(value / 100) * 100;
        inputElement.value = newValue;
        calculatePayout(); // Recalculate the payout
    }

    /**
     * @functionNote enforceMultipleOf100
     * @purpose To restrict betting to the amount of points you own
     */
    function enforceMaxBettingAmount(inputElement) {
        let currentPoints = parseFloat(document.getElementById("userPoint.point").textContent);
        let bettingAmount = parseFloat(inputElement.value);
        if (bettingAmount > currentPoints) {
            alert("Betting amount cannot exceed your current points.");
            inputElement.value = currentPoints; // Reset the input value to the current points
        }
        calculatePayout();
    }

    document.addEventListener("DOMContentLoaded", function () {
        const submitButton = document.querySelector('button[type="submit"]');
        submitButton.addEventListener("click", function () {
            const currentDate = new Date();
            const currentDateTime = currentDate.toISOString().replace(/\.\d{3}Z$/, "");

            document.getElementById("betDate").value = currentDateTime;
        });

    });
    /**
     * @note EventListener
     * @purpose HTML문서가 로드되면 bettingAmount default값으로 Payout을 바로 계산할수 있는 코드
     * document: HTML 전체
     * DOMContentLoaded: HTML 문서가 브라우저에 의해 완전히 로드되고 구문 분석되었을 때 실행되는 이벤트
     * function() { calculatePayout(); } : DOMContentLoaded 이벤트 실행시 작동되는 function
     */
    document.addEventListener("DOMContentLoaded", function () {
        calculatePayout();
    });
</script>
<body>
<form method="post" th:action="@{'/bet/submitBet/' + ${betDto.betNo}}">
    <span th:text="${session.user}"></span>의 Current Points: <span th:text="${userPoint}"></span>
    <table>
        <thead>
        <tr>
            <th>베팅 번호</th>
            <th>경기 번호</th>
            <th>Sport</th>
            <th colspan="2">HOME&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AWAY</th>
            <th>배당률</th>
            <th>베팅금액 (P)</th>
            <th>가능한 상금 (P)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${betDto.betNo}"></td>
            <td th:text="${getCartDataMap.matchNo}"></td>
            <td th:text="${getCartDataMap.matchType}"></td>
            <td th:text="${getCartDataMap.homeTeam}"></td>
            <td th:text="${getCartDataMap.awayTeam}"></td>
            <td id="odds" th:text="${getCartDataMap.odds}"></td>
            <td>
                <input type="number" id="bettingAmount" name="bettingAmount" step="1000" value=10000
                       onchange="enforceMultipleOf100(this); calculatePayout(); enforceMaxBettingAmount(this)">
            </td>
            <td>
                <input type="hidden" id="betDate" name="betDate">
                <input type="hidden" id="matchType" name="matchType">
                <input type="hidden" id="homeTeam" name="homeTeam">
                <input type="hidden" id="awayTeam" name="awayTeam">
                <input type="text" id="visiblePayout" name="visiblePayout" readonly>
                <input type="hidden" id="payout" name="payout">
                <input type="hidden" id="matchEnd" name="matchEnd" value="${getCartDataMap.matchEnd}">
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit">결제</button>
</form>
</body>
</html>