<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/default_layout">
<meta charset="UTF-8">
<th:block layout:fragment="content">


    <!-- 내용 시작. container에 크기를 지정하거나 추가 div 컨테이너 생성 후 제작하세요. -->
    <div class="container" style="margin-top: 60px">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th class="text-center d-none d-md-table-cell">index</th>
                        <th class="text-center d-none d-md-table-cell">발신아이디</th>
                        <th class="text-center d-none d-md-table-cell">제목</th>
                        <th class="text-center d-none d-md-table-cell">수신시간</th>
                        <th class="text-center d-none d-md-table-cell">삭제</th>
                    </tr>
                </thead>

                <tbody>
                <tr th:each="message : ${list}">
                    <td class="text-center d-none d-md-table-cell" th:text="${message.id}"></td>
                    <td class="text-center d-none d-md-table-cell" th:text="${message.sendId}"></td>
                    <td class="text-center d-none d-md-table-cell" th:text="${message.title}"></td>
                    <td class="text-center d-none d-md-table-cell" th:text="${message.sendDate}"></td>
                    <td class="text-center d-none d-md-table-cell" >check</td>
                </tr>
                </tbody>

            </table>
        </div>
    </div> <!-- 내용 끝나는 부분 -->


</th:block>
</html>