<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <div class="container-fluid bg-secondary text-black d-flex justify-content-center align-items-center" style="margin-top: 50px; padding-top: 20px; padding-bottom: 20px;">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-6 text-center">
                    <p class="mb-0">ⓒ Copyright 2023 team Nonsan HGYR All rights reserved.<br>Supported by 전총명 김민지 전준형 명원식 박기철</p>
                </div>

            </div>
        </div>
    </div>
</th:block>
</html>