<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Loading</title>
</head>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    let appName = /*[[${appName}]]*/;
    let age = /*[[${age}]]*/;
    let backUrl ="/hgyr";
    let fwdUrl = "";
    if(appName == "blog"){
        alert("블로그 이동할 코드 추가");
        fwdUrl ="http://localhost:2111";
    }

    if(appName == "game" && age < 19){
        alert("미성년자는 이용불가한 서비스입니다.")
        document.location = backUrl;
    } else if(appName == "bet" && age >= 19){
        alert("게임 이동할 코드 추가");
        fwdUrl ="http://localhost:2112/minigame";
    }

    if(appName == "sport"){
        fwdUrl ="http://localhost:1999/chat/room";
    }

    if(appName == "msg"){
        alert("쪽지 이동할 코드 추가");
        fwdUrl ="http://localhost:2113/receivelist";
    }

    if(appName == "bet" && age < 19){
        alert("미성년자는 이용불가한 서비스입니다.")
        document.location = backUrl;
    } else if(appName == "bet" && age >= 19){
        alert("베팅 이동할 코드 추가");
        fwdUrl ="http://localhost:2114/bet/main";
    }
    $(function(){

            var user = /*[[${session.user}]]*/;
        alert(appName);
        alert(user);
            $.ajax({
                type : "POST",
                url : fwdUrl+"/user/valid", // 1. 요청
                contentType : "application/json",
                data : JSON.stringify(user),    // 2. JSON을 문자열로 반환
                success: function(data, textStatus){
                    location.href = fwdUrl + "?uid="+user.uid;
                },
                error : function(data, textStatus){
                    alert('세션 정보에 문제가 발생하였습니다. \n다시 시도해주세요.')
                    document.location = backUrl;
                },
                complete : function (data, textStatus) {

                }
            }); //ajax END
    }); // function END

</script>
</html>
