<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/default_layout">
<meta charset="UTF-8">
<th:block layout:fragment="content">
    <body>

    <!-- 내용 시작. container에 크기를 지정하거나 추가 div 컨테이너 생성 후 제작하세요. -->
    <div class="container px-5 my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h3>메시지 발신</h3>
                <form action="/send" method="post">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="form-group mb-3">
                                <label for="receiveId">수신 아이디</label>
                                <div class="input-group">
                                    <input type="text" id="receiveId" name="receiveId" class="form-control" required />
                                    <!--<button type="button" class="btn btn-warning" id="btn-checkId" onclick="fn_checkId()">유효확인</button>-->
                                    <input type="hidden" name="sendId" th:value="${session.user}" />
                                </div>
                            </div>
                            <div class="form-group ">
                                <p id="checkResult" style="color: blue;"></p>
                            </div>
                            <div class="form-group mb-3">
                                <label for="title">제목</label>
                                <input type="text" id="title" name="title" class="form-control" required />
                            </div>

                            <div class="form-group mb-3">
                                <label for="content">내용</label>
                                <textarea class="form-control" style="width:100%; height:200px; resize:none;" cols="50" rows="5" id="content" name="content"></textarea>
                            </div>
                            <div class="form-group d-flex justify-content-end align-items-center">
                                <div class="mb-3">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-outline-secondary" id="back" onclick="goBack()">돌아가기</button>
                                        <button type="reset" class="btn btn-outline-secondary" id="reset">다시입력</button>
                                        <button type="submit" class="btn btn-secondary" id="send">전송</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        // 뒤로가기 함수
        function goBack() {
            window.history.back();
        }

        //유효 아이디 체크
        /*function fn_checkId() {
            var receiveId = $("#receiveId").val();
            if (receiveId == '') {
                alert("ID를 입력하세요");
                return; //fn_checkId()함수 종료
            }

            $.ajax({
                type: "POST",
                async: false,
                url: "/checkId",
                //dataType : "text", //리턴타입 문자열
                data: {
                    userId: receiveId
                }, //전송 파라미터 (파라미터명 id : 값 )
                success: function (result, textStatus) {
// 				alert(result)
// 				alert(textStatus) 확인용 메시지 추후 삭제할 것

                    if (result == 'usable') {
                        $('#checkResult').text("사용할 수 있는 ID입니다.");
// 					$('#btn-checkId').prop("disabled", true);
// 					$('#inputId').prop("readonly", true);  -> 처리 방법 찾으면 변경예정
                        $('#receiveId').addClass("blue");
                    } else {
                        $('#checkResult').text("사용할 수 없는 ID입니다.");
                        $('#receiveId').addClass("red");
                    }
                },
                error: function (data, textStatus) {
                    alert("에러가 발생했습니다.");
                    ㅣ
                },
                complete: function (data, textStatus) {
                    //alert("작업을 완료 했습니다");
                }
            }); //end ajax
        }*/
    </script>


    </body>
</th:block>
</html>